{% extends "layout.html" %}
{% block title %}Delete{% endblock %}
{% block content %}

    <h1>Delete Post</h1>

    {% if session.logged_in %}

        <div class="row">
        <div class="col-md-12">
            {% if has_draft %}
                <h2>Drafts</h2>
                <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>
                      Channel
                    </th>
                    <th>
                      Subject
                    </th>
                    <th>
                      Body
                    </th>
                    <th>
                        Author
                    </th>
                    <th>
                        Action
                    </th>
                  </tr>
                </thead>

                <tbody>

                {% for p in draft_pubs %}
                    <tr>
                        <td>
                            {{ p.channel.name }}
                        </td>
                        <td>
                            {{ p.title }}
                        </td>
                        <td>
                            <div class="row">
                                <div class="col">{{ p.description }}</div>
                            </div>
                        </td>
                        <td>
                            {{ p.get_author() }}
                        </td>
                        <td>
                            <a href="{{ url_for('delete.delete_publishing', post_id=p.post_id, channel_id=p.channel.id) }}" class="btn btn-outline-warning" role="button" onclick="return confirm('Are you sure?')">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                </table>
            {% endif %}

            {% if has_unmoderated %}
                <h2>Unmoderated</h2>
                <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>
                      Channel
                    </th>
                    <th>
                      Subject
                    </th>
                    <th>
                      Body
                    </th>
                    <th>
                        Author
                    </th>
                    <th>
                        Action
                    </th>
                  </tr>
                </thead>

                <tbody>

                {% for p in unmoderated_pubs %}
                    <tr>
                        <td>
                            {{ p.channel.name }}
                        </td>
                        <td>
                            {{ p.title }}
                        </td>
                        <td>
                            <div class="row">
                                <div class="col">{{ p.description }}</div>
                            </div>
                        </td>
                        <td>
                            {{ p.get_author() }}
                        </td>
                        <td>
                            <a href="{{ url_for('delete.delete_publishing', post_id=p.post_id, channel_id=p.channel.id) }}" class="btn btn-outline-warning" role="button" onclick="return confirm('Are you sure?')">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                </table>
            {% endif %}

            {% if has_posted %}
                {% if user.is_mod %}
                    <h2>Posted Publishings</h2>
                    <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>
                          Channel
                        </th>
                        <th>
                          Subject
                        </th>
                        <th>
                          Body
                        </th>
                        <th>
                            Author
                        </th>
                        <th>
                            Action
                        </th>
                      </tr>
                    </thead>

                    <tbody>
                    {% for p in posted_pubs %}
                        <tr>
                            <td>
                                {{ p.channel.name }}
                            </td>
                            <td>
                                {{ p.title }}
                            </td>
                            <td>
                                <div class="row">
                                    <div class="col">{{ p.description }}</div>
                                </div>
                            </td>
                            <td>
                                {{ p.get_author() }}
                            </td>
                            <td>
                                <a href="{{ url_for('delete.delete_publishing', post_id=p.post_id, channel_id=p.channel.id) }}" class="btn btn-outline-warning" role="button" onclick="return confirm('Are you sure?')">Delete</a>
                                {% if is_facebook %}
                                    <div>
                                        <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
                                        </fb:login-button>
                                        <p id="status"></p>
                                    </div>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    </table>
                {% endif %}
            {% endif %}
        </div>
        </div>
    {% else %}
        <p>Your are not logged in.</p>
    {% endif %}

{% endblock %}

{% block scripts %}
    <script src="../../static/js/JavaScript_Facebook_SDK.js">
    </script>
{% endblock %}