<div class="collapse" id="collapseConfiguration">
    <div class="card card-body" style="width: 18rem;">
        <a href="/update_archival_states" style="float: right" class="btn btn-primary">Update now</a>
        <small class="form-text text-muted">
          It will run all archival services once.
        </small>
        <a href="/get_all_records" style="float: right" class="btn btn-primary" download="records.json">Download all</a>
        <small class="form-text text-muted">
          To download all records in a JSON file.
        </small>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#channelsModal">
          Download some
        </button>
        <small class="form-text text-muted">
          To download records from specific channels in a JSON file.
        </small>
    </div>
</div>


<!-- Channels form : -->
<div class="modal fade" id="channelsModal" tabindex="-1" role="dialog" aria-labelledby="channelsModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form action="/download_some_records" method="POST" class="modal-content" id="download_records_form">
      <div class="modal-header">
        <h5 class="modal-title" id="channelsModalLabel">Channels</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% for id, name in channels.items() %}
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="{{id}}" id="download_cb" name="download_cb">
            <label class="form-check-label" for="download_cb">
              {{ name }}
            </label>
          </div>
        {% endfor %}
      </div>
      <div class="modal-footer">
        <a href="javascript:{}"
           class="btn btn-primary"
           onclick="document.getElementById('download_records_form').submit();"
           data-dismiss="modal">
            Download
        </a>
      </div>
    </form>
  </div>
</div>