{% extends "layout.html" %}
{% block title %}Superform - Records{% endblock %}
{% block styles %}
    {{super()}}
    <link rel="stylesheet"
          href="{{url_for('static', filename='css/style.css')}}">
{% endblock %}
{% block scripts %}
    <!--<script src="{{url_for('static', filename='js/script.js')}}"></script>-->
    {{super()}}
{% endblock %}





{% block content %}
    <h1 style="display: flex; align-items: center">My Records
        {% if isAdmin %}
            <!-- Archival Module : (the gear next to the page title) -->
            <a class="btn btn-sm btn-secondary" data-toggle="collapse" href="#collapseConfiguration" role="button" aria-expanded="false" aria-controls="collapseConfiguration"
               style="margin-left: 1rem">
                <i class="fa fa-cog"></i>
            </a>
            <!-- End of Archival Module-->
        {% endif %}
    </h1>
    <!-- Archival Module : (the buttons to refresh/download) -->
    <div class="collapse" id="collapseConfiguration">
        <div class="card card-body" style="width: 18rem;">
            <a href="/update_archival_states" style="float: right" class="btn btn-primary">Update now</a>
            <small class="form-text text-muted">
              It will run all archival services once.
            </small>
            <a href="/get_all_records" style="float: right" class="btn btn-primary" download="records.json">Download</a>
            <small class="form-text text-muted">
              To download all records in a JSON file.
            </small>
        </div>
    </div>
    <!-- End of Archival Module -->
    <br>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        Subject
                    </th>
                    <th>
                        Body
                    </th>
                    <th>
                        Channel
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for rec in records %}
                    <tr>
                        <td>
                            {{rec.post_id}}
                        </td>
                        <td>
                            {{ rec.title }}
                        </td>
                        <td>
                            {{ rec.description }}
                        </td>
                        <td>
                            {{ channel[rec.channel_id]}}
                        </td>
                        <td>
                            <button type="button" class="btn btn-outline-primary" contenteditable="true">Edit</button>
                            <button type="button" class="btn btn-outline-primary" contenteditable="true">Copy</button>
                            <button type="button" class="btn btn-outline-primary" contenteditable="true">Delete</button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}