{% extends "layout.html" %}
{% block title %}Superform - Records{% endblock %}
{% block styles %}
    {{super()}}
    <link rel="stylesheet"
          href="{{url_for('static', filename='css/style.css')}}">
{% endblock %}
{% block scripts %}
    <!--<script src="{{url_for('static', filename='js/script.js')}}"></script>-->
    {{super()}}
{% endblock %}





{% block content %}
    <h1 style="display: flex; align-items: center">My Records
        {% if isAdmin %}
            <a class="btn btn-sm btn-secondary" data-toggle="collapse" href="#collapseConfiguration" role="button" aria-expanded="false" aria-controls="collapseConfiguration"
               style="margin-left: 1rem">
                <i class="fa fa-cog"></i>
            </a>
        {% endif %}
    </h1>
    <div class="collapse" id="collapseConfiguration">
        <div class="card card-body" style="width: 18rem;">
            <form action="/set_new_archival_job" method="POST">
                Choose the update time :
                <div class="form-group" style="text-align: center; margin-top: 1rem">
                    <input name="arch_time" type="time" value="{{ archival_hour }}:{{ archival_minut }}" required>
                </div>
                <input class="btn btn-primary" style="float: right" type="submit" value="Save">
            </form>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        Subject
                    </th>
                    <th>
                        Body
                    </th>
                    <th>
                        Channel
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for rec in records %}
                    <tr>
                        <td>
                            {{rec.post_id}}
                        </td>
                        <td>
                            {{ rec.title }}
                        </td>
                        <td>
                            {{ rec.description }}
                        </td>
                        <td>
                            {{ channel[rec.channel_id - 1].name}}
                        </td>
                        <td>
                            <button type="button" class="btn btn-outline-primary" contenteditable="true">Edit</button>
                            <button type="button" class="btn btn-outline-primary" contenteditable="true">Copy</button>
                            <button type="button" class="btn btn-outline-primary" contenteditable="true">Delete</button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}