{% extends "layout.html" %}
{% block title %}Search{% endblock %}
{% block content %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <h1>Search</h1>
    <form method="post" id="search_form" action="">
        <div class="tab-content">
            <div class="tab-pane container-fluid active">
                <div class="row justify-content-left">
                    <!--<div class="col-md-3"></div>-->
                    <div class="col-md-8">
                        <div class="form-group" style="width: 100%">
                            <input type="text" name="search_word" style="width: 75%" id="search_word"
                                   class="search-query">
                        </div>
                        <div id="advanced_search" class="d-none" style="width: 80%">
                            <div class="row" style="width: 100%">
                                <div class="col-md-6" style="width: 100%">
                                    <div class="form-group">
                                        <label for="date_from">Date from</label>
                                        <input type="date" name="date_from" id="date_from" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="search_chan">Searching channels </label><br>
                                        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
                                        <select data-select="false" multiple class="select-chan" style="width: 100%"
                                                name="search_chan"
                                                id="search_chan"
                                                multiple placeholder="test">
                                            {% for chan in l_chan %}
                                                <option value="{{ chan.id }}">{{ chan.name }}</option>
                                            {% endfor %}
                                        </select>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label for="search_loc">Searching fields</label><br>
                                        <select class="select-loc" style="width: 100%" name="search_loc"
                                                id="search_loc"
                                                multiple>
                                            <option value="title">Title</option>
                                            <option value="description">Description</option>
                                            <option value="url">Url</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <input type="radio" name="search_table" value="Publishing"
                                                {% if search_table!="Post" %} checked{% endif %}> Publishing
                                        <input type="radio" name="search_table" value="Post"
                                                {% if search_table=="Post" %}
                                               checked{% endif %}> Post
                                    </div>
                                </div>
                                <div class="col-md-6" style="width: 100%">
                                    <div class="form-group">
                                        <label for="date_until">Date until</label>
                                        <input type="date" name="date_until" id="date_until" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="post_status">Post status</label><br>
                                        <select class="select-status" style="width: 100%" name="post_status"
                                                id="post_status"
                                                multiple>
                                            <option value="2">Archived</option>
                                            <option value="1">Published</option>
                                            <option value="0">Waiting for approval</option>
                                            <option value="-1">Incomplete</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label for="search_type">Search type</label><br>
                                        <select class="select-search-type" style="width: 100%" name="search_type"
                                                id="search_type">
                                            <option value="keyword">Search by keyword</option>
                                            <option value="complete">Complete search</option>
                                        </select>
                                    </div>

                                </div>
                            </div>

                        </div>
                        <div class="form-group">
                            <button type="submit" style="width: 14%" name="submit_search" id="submit_search"
                                    class="btn btn-primary">
                                Search
                            </button>
                            <button type="reset" name="reset_search" id="reset_search" onclick="clear_form()"
                                    class="btn">
                                Clear search
                            </button>
                            <button id="advanced_search_button" type="button" onclick="toggle_search(this)"
                                    class="btn btn-outline-primary">
                                Show advanced search
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </form>
    {% if post %}
        <div class="row">
            <div class="col-md-12">
                <h2>Search results</h2>
                <table id="result_tab" class="table table-bordered">
                    <thead>
                    <tr>
                        {% if search_table=="Publishing" %}
                            <th onclick="sortTable(0)">
                                <span style="display: none" id="arrow_0_desc"
                                      class="glyphicon glyphicon-triangle-bottom search_arrow"></span>
                                <span style="display: none" id="arrow_0_asc"
                                      class="glyphicon glyphicon-triangle-top search_arrow"></span>
                                Channel

                            </th>
                        {% endif %}
                        {% if search_table=="Post" %}
                            <th onclick="sortTable(-1)">
                                <span style="display: none" id="arrow_0_desc"
                                      class="glyphicon glyphicon-triangle-bottom search_arrow"></span>
                                <span style="display: none" id="arrow_0_asc"
                                      class="glyphicon glyphicon-triangle-top search_arrow"></span>
                                #
                            </th>
                        {% endif %}
                        <th onclick="sortTable(1)">
                            <span style="display: none" id="arrow_1_desc"
                                  class="glyphicon glyphicon-triangle-bottom search_arrow"></span>
                            <span style="display: none" id="arrow_1_asc"
                                  class="glyphicon glyphicon-triangle-top search_arrow"></span>
                            Subject
                        </th>
                        <th onclick="sortTable(2)">
                            <span style="display: none" id="arrow_2_desc"
                                  class="glyphicon glyphicon-triangle-bottom search_arrow"></span>
                            <span style="display: none" id="arrow_2_asc"
                                  class="glyphicon glyphicon-triangle-top search_arrow"></span>
                            Body
                        </th>
                        <th onclick="sortTable(3)">
                            <span style="display: none" id="arrow_3_desc"
                                  class="glyphicon glyphicon-triangle-bottom search_arrow"></span>
                            <span style="display: none" id="arrow_3_asc"
                                  class="glyphicon glyphicon-triangle-top search_arrow"></span>
                            Author
                        </th>
                        <th onclick="sortTable(4)">
                            <span style="display: none" id="arrow_4_desc"
                                  class="glyphicon glyphicon-triangle-bottom search_arrow"></span>
                            <span style="display: none" id="arrow_4_asc"
                                  class="glyphicon glyphicon-triangle-top search_arrow"></span>
                            Date
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for p in publishing %}
                        <tr>
                            <td>
                                {% if search_table=="Publishing" %}
                                    {{ p.channel.name }}
                                {% endif %}
                                {% if search_table=="Post" %}
                                    {{ p.id }}
                                {% endif %}
                            </td>

                            <td>
                                {{ p.title }}
                            </td>
                            <td>
                                <div class="row">
                                    <div class="col">{{ p.description }}</div>
                                </div>
                            </td>
                            <td>
                                {% if search_table=="Publishing" %}
                                    {{ p.get_author() }}
                                {% endif %}
                                {% if search_table=="Post" %}
                                    {{ p.user_id }}
                                {% endif %}
                            </td>
                            <td>
                                {{ p.date_from.strftime('%d/%m/%Y') }}
                            </td>

                            <td>
                                {% if search_table=="Publishing" %}
                                    {% if (p.channel.id in moderate_channel) and p.state==0 %}
                                        <a href="{{ url_for('publishings.moderate_publishing',id=p.post_id,idc=p.channel_id) }}"
                                           class="btn btn-outline-primary" role="button">Moderate</a>
                                        <a href="{{ url_for('delete.delete', id=p.post_id) }}"
                                           class="btn btn-outline-warning"
                                           role="button">Delete</a>
                                    {% endif %}
                                {% endif %}
                                {% if search_table=="Post" %}
                                    {% if p.user_id == user_id %}
                                        <a href="#" class="btn btn-outline-primary" role="button">Edit</a>
                                        <a href="#" class="btn btn-outline-primary">Copy</a>
                                        <a href="{{ url_for('delete.delete', id=p.id) }}"
                                           class="btn btn-outline-warning"
                                           role="button">Delete</a>
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% if publishing ==[] %}
                    No results found.
                {% endif %}
            </div>
        </div>
    {% endif %}


{% endblock %}
{% block scripts %}
    <script>
        var order = ["asc", "asc", "asc", "asc", "asc"];
        $(document).ready(function () {
            sortTable(2);
        });
        let fields = [
            'search_word',
            'search_chan',
            'post_status',
            'search_loc',
            'search_type',
            'date_from',
            'date_until',
            'search_table'
        ];
        let multiple_fields = {
            'search_word': false,
            'search_chan': true,
            'post_status': true,
            'search_loc': true,
            'search_type': false,
            'date_from': false,
            'date_until': false
        }; // key is the id of the element and the value is true only if the element is multiple select
        let clear_data = {
            'search_chan': null,
            'post_status': null,
            'search_loc': null,
            'search_type:': 'keyword'

        };
        $(function () {
            $('.select-chan').select2();
            $('.select-status').select2();
            $('.select-loc').select2();
            $('.select-search-type').select2();
            $('.search_table').select2();

            preselect(); // preselect all options selected in a previous post request

            //localStorage.clear();

            $('#search_form').submit(function () {
                fields.forEach(function (e) {
                    localStorage.setItem(e, $('#' + e).val())
                })
            }); // stocks local
        });

        function preselect() {
            if ('search_word' in localStorage) {
                fields.forEach(function (e) {
                    let selector = $('#' + e);
                    multiple_fields[e] ? selector.val(get_array(it(e))).trigger('change') : selector.val(it(e)).trigger('change')
                });
                /*$('#search_word').val(it('search_word')).trigger('change');
                $('#search_chan').val(get_array(it('search_chan'))).trigger('change');
                $('#post_status').val(get_array(it('post_status'))).trigger('change');
                $('#search_loc').val(get_array(it('search_loc'))).trigger('change');
                $('#search_type').val(it('search_type')).trigger('change');
                $('#order_loc').val(it('order_loc')).trigger('change');
                $('#search_order').val(it('search_order')).trigger('change');
                $('#date_from').val(it('date_from')).trigger('change');
                $('#date_until').val(it('date_until')).trigger('change');*/
            }
        }

        function it(key) {
            return localStorage.getItem(key);
        }

        function get_array(str) {
            let tab = str.split(',');
            let res = [];
            tab.forEach(function (e) {
                res.push(e)
            });
            return res
        }

        function clear_form() {
            localStorage.clear();
            fields.forEach(function (e) {
                e in clear_data ? $('#' + e).val(clear_data[e]).trigger('change') : {};
            })
        }

        advanced_search_displayed = false;

        function toggle_search() {
            if (advanced_search_displayed) {
                $('#advanced_search').addClass('d-none');
                $('#advanced_search_button').text('Show advanced search');
            } else {
                $('#advanced_search').removeClass('d-none');
                $('#advanced_search_button').text('Hide advanced search');
            }
            advanced_search_displayed = !advanced_search_displayed;
        }

        function sortTable(n) {
            var number = false;
            if (n == -1) {
                number = true;
                n = 0;
            }
            var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
            table = document.getElementById("result_tab");
            switching = true;
            //Set the sorting direction to ascending:
            dir = order[n];
            /*Make a loop that will continue until
            no switching has been done:*/
            while (switching) {
                //start by saying: no switching is done:
                switching = false;
                rows = table.rows;
                /*Loop through all table rows (except the
                first, which contains table headers):*/
                for (i = 1; i < (rows.length - 1); i++) {
                    //start by saying there should be no switching:
                    shouldSwitch = false;
                    /*Get the two elements you want to compare,
                    one from current row and one from the next:*/
                    x = rows[i].getElementsByTagName("TD")[n];
                    y = rows[i + 1].getElementsByTagName("TD")[n];
                    /*check if the two rows should switch place,
                    based on the direction, asc or desc:*/
                    if (number) {
                        var elemX = parseInt(x.innerHTML)
                        var elemY = parseInt(y.innerHTML)
                    } else if (n == 4) {
                        var partsx = x.innerHTML.toLowerCase().split('/');
                        var partsy = y.innerHTML.toLowerCase().split('/');
                        var elemX = new Date(Date.UTC(partsx[0], partsx[1] - 1, partsx[2]))
                        var elemY = new Date(Date.UTC(partsy[0], partsy[1] - 1, partsy[2]))
                    } else {
                        var elemX = x.innerHTML.toLowerCase()
                        var elemY = y.innerHTML.toLowerCase()
                    }
                    if (dir == "asc") {
                        if (elemX > elemY) {
                            //if so, mark as a switch and break the loop:
                            shouldSwitch = true;
                            break;
                        }
                    } else if (dir == "desc") {
                        if (elemX < elemY) {
                            //if so, mark as a switch and break the loop:
                            shouldSwitch = true;
                            break;
                        }
                    }

                }
                if (shouldSwitch) {
                    /*If a switch has been marked, make the switch
                    and mark that a switch has been done:*/
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                    //Each time a switch is done, increase this count by 1:
                    switchcount++;
                }
            }
            elementArray = document.getElementsByClassName("search_arrow")
            for (var i = 0; i < elementArray.length; i++) {
                elementArray[i].style.display = 'none';
            }
            document.getElementById("arrow_" + n + "_" + dir).style.display = '';
            for (var i = 0; i < 5; i++) {
                if (i == n) {
                    if (order[i] == "asc") {
                        order[i] = "desc";
                    } else {
                        order[i] = "asc";
                    }
                } else {
                    order[i] = "asc";
                }
            }
        }
    </script>
{% endblock %}
